<h2>Messages</h2>
<% @received.each do |message| %>
  <div class="messages">
    <ul>
      <li><h3> <%= link_to "#{message.subject}", user_message_path(@receiver, message) %> - From <%= message.sender.username %> on <%= message.created_at.strftime("%D at %l:%M %p") %> </h3></li>
    </ul>
  </div>

<% end %>
