@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

body{
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  margin-top: -20px;
  padding: 0;
  line-height: 1.4em;
}

.flash {
  color: #ff6a40;
  text-align: center;
}

h1 {
  text-align: center;
}
header{
  float: left;
  min-width: 100%;
  background: #D1DBBD;
  border-bottom: 3px solid #193441;
  margin-bottom: 20px;
}
div.wrapper h2{
  text-align: center;
}
.header-nav{
  text-align: center;
  margin-bottom: 1px;
}


.header-nav li{
  display: inline-block;
  margin: auto;
  border-radius: 4px;
  font-family: Arial;
  font-size: 18px;
  background: #3E606F;
  padding: 8px 16px 8px 16px;
  border: solid #91AA9D 2px;
  text-decoration: none;
}
.header-nav a{
  text-decoration: none;
  color: #ffffff;
}
body{
  background: #FCFFF5;
}

nav {
  float: left;
  padding-bottom: 40px;
  background: #91AA9D;
  border-radius: 8px;
}
nav a {
  display: block;
  text-align: center;
  margin-left: 10px;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  margin: 5px;
  padding: 5px;
  background: #3E606F;
  text-decoration: none;
}
nav p {
  text-align: center;
  color: #ffffff;
  font-size: 1.2em;
}
/*Company Info*/
.companies, .users {
  width: 50%;
  margin: 0 auto;
  border-bottom: 5px solid #91AA9D;
}

.company-name{
  text-align: center;
  margin-top: 5px;
}


.company-description{
  text-decoration: underline;
}

.edit-delete{
  position:relative;
  float: right;
  bottom: 150px;
  right: 150px;
  list-style: none;
}

.edit-delete a{
  text-align:center;
  display: block;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  margin: 5px;
  padding: 5px;
  background: #3E606F;
  text-decoration: none;
}
/*Forms */

#new_company input, #new_company textarea {
  display: block;
  width: 20%;
  margin: auto;
  margin-bottom: 10px;
}

#new_company label{
  display: block;
  text-align: left;
  width: 20%;
  margin: auto;
}

.edit_company{
  margin-left: 25%;
}

.edit_company label, .edit_company input, #company_pitch_text{
  display: block;
}

.sign-in input, .sign-up input {
  display: block;
  width: 15%;
  margin: auto;
}
