<h2>Add a Company</h2>
<p class = "add-company">
  When adding a company, please ensure that you take the URL directly from your address bar rather than copying the video URL from the "Share" column. Your URL should look something like <br /> <strong>https://www.youtube.com/watch?v=SQM1NjL0_Fc</strong> <br /> rather than <br> <strong> https://youtu.be/SQM1NjL0_Fc </strong> <br>The equals sign in the first link is important to our interface! Currently the SeedMe platform only supports YouTube videos. We are hard at work to support other video sources as well.
</p>
<%= render 'form' %>
