h1 {
  text-align: center;
}
header{
  background: #D1DBBD;
}
.header-nav{
  text-align: center;
}
.header-nav li{
  display: inline-block;
  margin: auto;
  border-radius: 4px;
  font-family: Arial;
  font-size: 20px;
  background: #3E606F;
  padding: 10px 20px 10px 20px;
  border: solid #91AA9D 2px;
  text-decoration: none;
}
.header-nav a{
  text-decoration: none;
  color: #ffffff;
}
body{
  background: #FCFFF5;
}

nav {
  float: left;
  padding-bottom: 40px;
  background: #91AA9D;
  border-radius: 8px;
}
nav a {
  display: block;
  text-align: center;
  margin-left: 10px;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  margin: 5px;
  padding: 5px;
  background: #3E606F;
  text-decoration: none;
}
nav p {
  text-align: center;
}

.companies {

  width: 50%;
  margin: 0 auto;
  border-bottom: 5px solid #91AA9D;
}
.edit-delete{
  position:relative;
  float: right;
  bottom: 150px;
  right: 150px;
  list-style: none;
}

.edit-delete a{
  text-align:center;
  display: block;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  margin: 5px;
  padding: 5px;
  background: #3E606F;
  text-decoration: none;
}
/*Forms */

#new_company label, #new_company input {
  display: block;
  margin-left: 30%;
  width: 300px;
}
.edit_company{
  margin-left: 25%;
}

.edit_company label, .edit_company input, #company_pitch_text{
  display: block;
}
.edit_company input{

}
.sign-in, .sign-up input {
  display: block;
}
