h1 {
  text-align: center;
}
.header-nav{
  text-align: center;
}
.header-nav li{
  display: inline-block;
  margin: auto;
}

nav {
  float: left;
  margin: 0 auto;
}
nav a {
  display: block;
  text-align: center;
  margin-left: 10px;
}
nav p {
  text-align: center;
}

.companies {
  float: right;
  width: 75%;
}

#new_company {
  margin-left: 30%;
  width: 300px;
}
